params {
//General parameters
   input_design = './InputFiles.csv'      //location of the design csv file
   input_dir = './data/'                  //where is stored (can be symlink) the data (fastq files (can be .fastq.gz), genome file)
   merge_bam = false             //make it true to merge bam files ==> See BamToMerge.csv for csv design
   outdir = './results'          //output directory

//Ref genome options
   ref_genome = ''                   //fasta file that is used as a reference for mapping
   ref_genome_prefix = 'SacCer3'     //prefix for the genome

//Spike in options
   spike_in_norm = false             //Engage the spike in procedure (Mapping of concatenated genome - extacting reads on both genomes - normalizing toward nb of reads mapped on si_genome)
   spike_in_genome = ''                    //fasta file of the genome used as spike in.
   spike_in_genome_prefix = ''              //prefix for the spike_in genome
   spike_in_fraction = '0.1'                //theoretical fraction of reads coming from the spike_in (typically between 0.05 and 0.2, depending on the experiment)
   spike_in_min_read_nb = '10e3'            //minimum number of reads mapping to the si_genome, below which the normalization does not occur (i.e if only 2 reads map on the si_genome, normalization is not performed)

//Triming options
   skip_trimming = false
   trim_galore_options = '--nextseq 20 -q 20 --illumina --gzip --paired --no_report_file --suppress_warn'      //do no indicate cpus
   
//Mapping softwares
   bowtie_mapping = true                      //set true to use bowtie as a mapping software
   bowtie_id = 'BOWTIE'                       //bowtie ID used in file names
   bowtie_options = '--very-sensitive'        //bowtie mapping options
   
   subread_mapping = false                    //set true to use subread as a mapping software
   subread_id = 'SUBREAD'                     //subread ID used in file names
   subread_options = '--multiMapping -B 3'    //subread options

   hisat2_mapping = false
   hisat2_id = 'HISAT2'
   hisat2_options = '--rna-strandness FR --no-unal'

   tophat2_mapping = false
   tophat2_id = 'TOPHAT2'
   tophat2_options = '--segment-length 11 --segment-mismatches 1 --read-mismatches 3 --read-edit-dist 3 --max-segment-intron 500 --library-type fr-firststrand'


//Mapping filtering options
   samtools_flag_filter = '-f 3 -F 4'     //samtools filters or any other option exept -q. -f 3 includes paired reads and properly mapped. -F 4 excludes unmapped reads
   samtools_q_filter = 0                  //samtools quality mapping filter

//Bam coverage options
   bin_size = 25                          //The bin size used by bamCoverage
   bamcoverage_options = '--extendReads --centerReads --normalizeUsing CPM  --exactScaling'    //add --MNase if necessary 

}
process {
   container = ''                //need a container with the necessary softwares (trim_galore, bowtie2, samtools, subread if used, deeptools)
   queue = ''                    //configure to run on given cluster
   time = ''                     //indicate walltime
   withLabel: 'multiCpu' {
      cpus=6                     //set cpu number for demanding jobs
   }
   withLabel: 'multiCpu_short'{
      cpus=3                     //set cpu number for short jobs
      time = '1h'                //set walltime for short jobs
   }
   withLabel: 'local' {          //not used at the moment
      executor = 'local'         //jobs with this labels will be executed locally (typically trivial jobs)
   }
   withLabel: 'noContainer' {    //not used at the moment
      container = ''             //jobs not requiring any container
   }
   withLabel: 'usePicard' {
      container = 'gatk.simg'    //container for the GATK softwares
   }

}
executor {
   name = 'pbspro'               //nextflow operator for the executor name (grid manager)
   pollInterval = '1 min'        //inteval at wich nextflow checks the jobs (warning to fast may induce crash in the workflow)
   queueStatInterval = '2 min'   //
   exitReadTimeout = '3600 sec'  //
}
singularity {
   enabled = true                //singularity mandatory options
   autoMounts = true             //singularity mandatory options
}
