params {
   merge_bam = false
   outdir = './results'
   genome = ''
   bt2index = ''
   genome_prefix = 'SacCer3'
   bowtie_mapping = true
   bowtie_id = 'BOWTIE'
   subread_mapping = false
   subread_id = 'SUBREAD'
   mapped_id='BOWTIE'
   samtools_q_filter = 0
   bin_size = 25
   input_design = './InputFiles.csv'
   input_dir = './data/'
}
process {
   //memory { 2.GB* task.attempt }
   errorStrategy { task.attempt < 5 ? 'retry' : 'ignore'}
   maxRetries 5
   container = ''
   executor = ''
   queue = ''
   time = ''
   withLabel: 'multiCpu' {
      cpus=6
   }
   withLabel: 'multiCpu_short'{
      cpus=3
      time = '1h'
   }
   withLabel: 'local' {
      executor = 'local'
   }
   withLabel: 'usePicard' {
      container = 'gatk.simg'
   }

}
singularity {
   enabled = true
   autoMounts = true
}
